main{
    display: flex;
    justify-content: space-around;
}

.content-contact{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5vh;
    padding-top: 20px;
    padding-bottom: 20px;
}

.left_contact{
    display: flex;
    align-items: center;
    width: 30%;
}

.left_contact a{
    display: block;
    width: fit-content;
    border-bottom: 1px black solid ;
}

.left_contact a:hover{
    background-color: black;
    color: white;
}

.right_contact {
    display: flex;
    justify-content: center;
    padding-top: 10vh;
}

.mail, .tel, .loc{
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    gap: 1em;
    width: 350px;
    height: 100px;
    padding: 5px;
    padding-left: 15px;
    background-color: white;
    font-size: smaller;
}

.content-contact svg{
    fill: black;
    height: 2em;
    align-self: center;
}

.left_contact p{
    margin: 0;
    align-self: center;
    text-align: left;
}


form{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    width: 500px;
    gap: 10px;
}

#name{
    width: 245px;
}
#email{
    width: 245px;
}

input[type="text"], input[type="email"], textarea {
    width: 100%;
    min-height: 50px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

textarea {
    height: 300px;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: black;
    color: white;
    border: white solid 2px;
    border-radius: 5px;
    cursor: pointer;
    width: 150px;
    transition: all 0.5s ease;
}

input[type="submit"]:hover {
    background-color: white;
    color: black;
    border: black solid 2px;
}

@media screen and (max-width: 992px) {
    .content-contact{
        flex-direction: column;
    }
    main{
        flex-direction: column;
        padding-top: 15vh;
    }
    .left_contact{
        width: inherit;
    }
    #name{
        width: 100%;
    }
    #email{
        width: 100%;
    }
}